## Ignore Visual Studio & .NET build artifacts
[Db]in/
[Oo]bj/
*.user
*.suo
.vs/
.idea/
*.userosscache
*.sln.docstates

# User-specific files
*.user
*.userquery
*.docstates

# Publish profiles
*.pubxml
*.publishproj
